<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <style>
        .menu{
            display:flex;
            gap:200px;
            justify-content: center;  /* центрируем весь блок меню */
            background-color:#f0f0f0;
            padding:20px;
            position:fixed;
            top:0px;
            left:0px;
            width: 100%;
            z-index: 1000;
                    }
    </style>
</head>
<body>


    <div class="menu">
    <a href="#her1">Тема 1</a>
    <a href="#her2">Тема 2</a>
    </div>>
        <h1>Мой сайдбар</h1>
    <p>Это обычный текст параграфа 1</p>
    <p>Это обычный текст параграфа 2</p>
    <p>Это обычный текст параграфа 3</p>

    <p id="her1">Это место, куда ведёт ссылка "Тема 1"</p>

    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>

    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p>Ещё немного текста между темами</p>
    <p>И ещё немного</p>
    <p id="her2">Это место, куда ведёт ссылка "Тема 2"</p>

    <p>Последний параграф</p>
</body>
</html>aisjxposajoxpkasoxkao[<p>
<p>dsadasdasplpoasdkjvikdsfjlvjhfj;hc;aisjxposajoxpkasoxkao[<p>
<p>dsadasdasplpoasdkjvikdsfjlvjhfj;hc;aisjxposajoxpkasoxkao[<p>
<p class="her2">dsadasdasplpoasdkjvikdsfjlvjhfj;hc;aisjxposajoxpkasoxkao[<p>
<p>dsadasdasplpoasdkjvikdsfjlvjhfj;hc;aisjxposajoxpkasoxkao[<p>
</body>
</html>